body{
    background-color: rgb(222, 216, 216);
}
h3{
    position:absolute;
    top: 8vmax;
    left:20vmax;
}
.top{
    display: flex;
    flex-direction: row;
}
.top-1{
position: absolute;
height: 120px;
width: 100px;
background-color:white;
top: 12vmax;
left:20vmax;

}
.top-2{
    position: absolute;
    height: 120px;
    width: 100px;
    background-color:white;
    top: 12vmax;
    left:26.8vmax;
    opacity: 70%;
    }
    .top-3{
        position: absolute;
        height: 120px;
        width: 100px;
        background-color:white;
        top: 12vmax;
        left:33.7vmax;
        opacity: 70%;
        }
        .top-4{
            position: absolute;
            height: 120px;
            width: 100px;
            background-color:white;
            top: 12vmax;
            left:40.5vmax;
            opacity: 70%;
            }
#bottom{
    position: absolute;
    height:250px;
    width: 700px;
    background-color: white;
    top: 19vmax;
    left: 20vmax;
}
.right{
    position: absolute;
    height: 170px;
    width:300px;
    right:14vmax;
    top: 12vmax;
    background-color: white;
}